body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}



  body {
  background: linear-gradient(to bottom, #e6caa2 0%, #d9a066 50%, #8b5e3c 100%) !important;
}

