.desktop-coffee-card {
  position: relative;
  height: 320px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .desktop-coffee-overlay {
    @include center-absolute;
    background-color: rgba(255, 255, 255, 0.88);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    color: $coffee-dark;
    width: 85%;
    max-width: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
