<%- include('partials/header') %>

    <main class="container my-5">
        <h1 class="text-center">Désolé, cette page n'existe pas</h1>
        <p class="text-center">Il semble que la page que vous recherchez n'existe pas.</p>
        <div class="text-center">
            <a href="/" class="btn btn-coffee">Retourner à l'accueil</a>
        </div>
    </main>

    <%- include('partials/footer') %>