<%- include('partials/header') %>

<!-- Main -->
<main class="container my-5">
    <h2 class="h3">À propos</h2>
    <p>OCoffee est votre destination pour découvrir les meilleurs cafés du monde. Notre passion pour le café nous pousse à sélectionner uniquement les grains de la plus haute qualité, provenant des plantations les plus réputées.</p>
    
    <h3>Notre histoire</h3>
    <p>Depuis notre création, nous avons pour mission de partager notre amour du café avec le monde entier. Chaque tasse que nous servons est le résultat d'un travail acharné et d'une attention particulière aux détails.</p>
    
    <h3>Nos valeurs</h3>
    <ul>
        <li><strong>Qualité :</strong> Nous ne faisons aucun compromis sur la qualité de nos produits.</li>
        <li><strong>Durabilité :</strong> Nous soutenons les pratiques agricoles durables et équitables.</li>
        <li><strong>Passion :</strong> Notre équipe est composée de passionnés de café qui sont toujours prêts à partager leurs connaissances.</li>
    </ul>

</main>

<%- include('partials/footer') %>